# --- Gateway Connection ---
gateways:

  bigquery:
    connection:
      # BigQuery gateway configuration
      # Docs: https://sqlmesh.readthedocs.io/en/stable/integrations/engines/bigquery/#connection-options
      type: bigquery
      project: gb-poc-373711
      location: europe-west1

      # timeout: 300
      # priority: INTERACTIVE
      # retries: 3
      # job_creation_timeout_seconds: 30
      # job_poll_interval_seconds: 5
      # job_labels:
      #   env: dev
      #   source: sqlmesh

default_gateway: bigquery

model_defaults:
  dialect: bigquery
  start: 2025-08-27 # Start date for backfill history
  cron: '@daily'    # Run models daily at 12am UTC (can override per model)

linter:
  enabled: true
  rules:
    - ambiguousorinvalidcolumn
    - invalidselectstarexpansion
